[Unit]
Description=Runs Monster Energy Web Scraper

[Service]
Type=forking
ExecStart=/usr/bin/monster
User=Jackson

[Install]
WantedBy=multi-user.target 
